<app-header></app-header>
<div class="root">
  <div class="onload">
    <h1>
      {{campaign.name}}
    </h1>
    <div>
      Product by: {{campaign.userName}}
    </div>
    <img mat-card-image src="{{campaign.imagePath}}" alt="logo">
    <div>{{campaign.summary}}</div>
    <div>Target: {{campaign.target}} , to {{campaign.to}}</div>
  </div>
  <div class="buttons">
    <button type="submit" mat-raised-button color="primary">
      <img src="../../../assets/pen-15.png" height="512" width="512" alt="update"/>
    </button>
    <button type="submit" mat-raised-button color="primary" (click)="deleteCampaign()">
      <img src="../../../assets/close-circle-red-512.png" height="512" width="512" alt="remove"/>
    </button>
  </div>
</div>
