mat-toolbar {
  display: flex;
  position: static;
}

.title {
  font-family: Roboto, sans-serif;
  margin-right: 10px;
}

.left {
  display: flex;

  button {
    width: 150px;
    height: 50px;
    font-size: medium;
    font-family: Roboto, sans-serif;
  }
}

.right {
  display: flex;
  margin-left: auto;

  button {
    width: auto;
    height: 50px;
    font-size: medium;
    font-family: Roboto, sans-serif;
  }
}

