<div class="header">
  <app-header></app-header>
</div>
<div class="root">
  <h2>Basics</h2>
  <p class="basics">
    Make a good first impression: introduce your campaign objectives and entice people to learn more.
    This basic information will represent your campaign on your campaign page, on your campaign card,
    and in searches.
  </p>
  <mat-form-field class="campaign-title">
    <input matInput placeholder="Campaign Title *" value="What is the title of your campaign?" [(ngModel)]="createCampaign.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Campaign Tagline *" [(ngModel)]="createCampaign.summary"></textarea>
  </mat-form-field>
  <div class="card-image">
    <label>Campaign Card Image *</label>
  </div>
  <input type="file" (change)="onChange($event)"/>
  <input type="text" placeholder="target" [(ngModel)]="createCampaign.target">
  <input type="date" [(ngModel)]="createCampaign.to">
  <button type="submit" (click)="create()">create</button>
</div>
