<app-header></app-header>
<div class="onload" *ngIf="campaigns">
  <div *ngFor="let campaign of campaigns">
    <mat-card class="campaign-card" (click)="navigate()">
      <mat-card-header>
        <mat-card-title>
          {{campaign.name}}
        </mat-card-title>
        <mat-card-subtitle>
          {{campaign.userName}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{campaign.imagePath}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Target</p>
        <p>
          {{campaign.target}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
