.campaign-card {
  margin: 35px 10px 0 35px;
  width: 350px;
  img {
    height: 200px;
  }
}

.campaign-card:hover {
  cursor: pointer;
}

.onload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(154,154,154,0.24);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
